body { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #181818;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock {
    padding: 10px; 
    color: rgb(255, 255, 255);
    font-size: 5em; 
}

.font {
    font-size: 4em;
    color: rgb(185, 185, 185);
    margin-bottom: 10px; 
}
